# Test MongoDB Connection
MONGODB_TEST_URI=mongodb+srv://user:pass@your-cluster.mongodb.net/
MONGODB_TEST_DB=test
MONGODB_TEST_COLLECTION=stream_test

# Test Runtime Configuration
TEST_WRITE_INTERVAL=2  # seconds between writes
TEST_DURATION=60      # total test duration in seconds 